@import url(./__close-button/modal__close-button.css);
@import url(./__container/modal__container.css);
@import url(./__container/_type_photo/modal__container_type_photo.css);
@import url(./__container/_type_error/modal__container_type_error.css);
@import url(./__save-button/modal__save-button.css);
@import url(./__save-button/_inactive/modal__save-button_inactive.css);
@import url(./__title/modal__title.css);
@import url(./__title/_type_photo/modal__title_type_photo.css);
@import url(./__title/_type_avatar/modal__title_type_avatar.css);
@import url(./__title/_type_error/modal__title_type_error.css);
@import url(./__input/modal__input.css);
@import url(./__input/_type_error/modal__input_type_error.css);
@import url(./__form/modal__form.css);
@import url(./__image/modal__image.css);
@import url(./__input-error/modal__input-error.css);
@import url(./__input-error/_active/modal__input-error_active.css);
@import url(./__confirm-button/modal__confirm-button.css);
@import url(./__info-image/modal__info-image.css);


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

/* .modal:hover {
  cursor: pointer;
} */
