.spinner {
  width: 2em;
  height: 2em;
  margin: 50px auto;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
}

.spinner i::after {
  position: absolute;
  clip: rect(0, 2em, 2em, 1em);
  width: 2em;
  height: 2em;
  content: '';
  animation: spinner-circle 0.8s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.1em #ffffff;
}

@keyframes spinner-circle {
  0% { transform: rotate(-180deg); }
  100% { transform: rotate(180deg); }
}