@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);
@import url(./__text/header__text.css);

.header {
  width: calc(100% - 400px);
  min-height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  align-items: baseline;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 25px;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 240px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 70px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    margin: 28px 0 38px;
  }
}
