@import url(./__conteiner/card__conteiner.css);
@import url(./__delete-button/card__delete-button.css);
@import url(./__image/card__image.css);
@import url(./__like-button/card__like-button.css);
@import url(./__like-button/_status_active/card__like-button_status_active.css);
@import url(./__title/card__title.css);
@import url(./__like-counter/card__like-counter.css);


.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
