@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Regular.ttf) format('ttf'),
       url(./Inter/Inter-Regular.woff) format('woff'),
       url(./Inter/Inter-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Medium.ttf) format('ttf'),
       url(./Inter/Inter-Medium.woff) format('woff'),
       url(./Inter/Inter-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Black.ttf) format('ttf'),
       url(./Inter/Inter-Black.woff) format('woff'),
       url(./Inter/Inter-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}
