.profile__character {
  font-size: 18px;
  line-height: 1.22;
  margin: 16px 0 0;
  grid-area: character;
}

@media screen and (max-width: 1090px) {
  .profile__character {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__character {
    font-size: 14px;
    line-height: 1.21;
    margin: 0 auto 36px;
  }
}
