.modal__title {
  max-width: 358px;
  width: 100%;
  margin: 34px auto 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .modal__title {
    max-width: 200px;
    font-size: 18px;
    margin: 30px auto 36px;
  }
}
