.modal__save-button {
  width: 100%;
  min-height: 50px;
  background: #000000;
  color: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  margin: 30px auto 36px;
  transition: 0.5s linear;
  border: none;
  outline: none;
}

.modal__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .modal__save-button {
    min-height: 40px;
    margin: 36px auto 30px;
    font-size: 14px;
  }
}
